.main {
height: auto;
width: auto;
text-align: center;
font-size: 50px;
border-radius: 10px;
background-color: white;
}

.top {
text-align: center;
width: auto;
height: 50px;
}

.left {
border: 1px solid #cccccc;
display: inline-block;
width: 15%;
margin-left: 5px;
height: 600px;
border-radius: 10px;
float: left;
}

.middle {
border: 1px solid #cccccc;
display: inline-block;
width: 65%;
height: 400px;
border-radius: 10px;
}

.right {
border: 1px solid #cccccc;
display: inline-block;
width: 15%;
height: 600px;
border-radius: 10px;
float: right;
margin-right: 5px;
}

.bottom {
border: 1px solid #cccccc;
display: inline-block;
width: 65%;
height: 200px;
border-radius: 10px;
}

table {
margin: auto;
width: 200px;
height: 200px;
}

td {
height: 60px;
width: 200px;
text-align: center;
font-size: 10px;
border: 2px solid #cccccc;
cursor: pointer;
}

h1 {
font-size: 50px;
}

#dice1 {
border: 1px solid #cccccc;
height: 50px;
width: 50px;
font-size: 5px;
display: inline-block;
}

.pikachu {
height: 100px;
width: 100px;
}

.pokemon {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/question_mark.png");
background-size: contain;
background-repeat: no-repeat;
}

.pokeball {
background-image: url("/image/Pokeball.png");
background-size: contain;
background-repeat: no-repeat;
}

p {
font-size: 15px;
}

.bulbasaur {
background-image: url("/image/bulbasaur.png");
background-size: contain;
background-repeat: no-repeat;
}

.bulbasaurBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/bulbasaur1.png");
background-size: contain;
background-repeat: no-repeat;
}

.tepig {
background-image: url("/image/Tepig.png");
background-size: contain;
background-repeat: no-repeat;
}

.tepigBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Tepig1.png");
background-size: contain;
background-repeat: no-repeat;
}

.jigglypuff {
background-image: url("/image/jigglypuff.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.jigglypuffBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/jigglypuff1.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.victini {
background-image: url("/image/victini.png");
background-size: contain;
background-repeat: no-repeat;
}

.victiniBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/victini1.png");
background-size: contain;
background-repeat: no-repeat;

}

.caterpie {
background-image: url("/image/Caterpie.png");
background-size: contain;
background-repeat: no-repeat;
}

.caterpieBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Caterpie1.png");
background-size: contain;
background-repeat: no-repeat;

}

.oshawott {
  background-image: url("/image/oshawott.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.oshawottBattle {
  height: 100px;
  width: 100px;
  margin: auto;
  background-image: url("/image/oshawott1.png");
  background-size: contain;
  background-repeat: no-repeat;

  }

  .gengar {
    background-image: url("/image/gengar.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .gengarBattle {
    height: 100px;
    width: 100px;
    margin: auto;
    background-image: url("/image/gengar1.png");
    background-size: contain;
    background-repeat: no-repeat;

    }

    .eevee {
      background-image: url("/image/eevee.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .eeveeBattle {
      height: 100px;
      width: 100px;
      margin: auto;
      background-image: url("/image/eevee1.png");
      background-size: contain;
      background-repeat: no-repeat;

      }

      .charmander {
     background-image: url("/image/Charmander.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .charmanderBattle {
     height: 100px;
     width: 100px;
     margin: auto;
     background-image: url("/image/Charmander1.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .squirtle {
     background-image: url("/image/Squirtle.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .squirtleBattle {
     height: 100px;
     width: 100px;
     margin: auto;
     background-image: url("/image/Squirtle1.png");
     background-size: contain;
     background-repeat: no-repeat;
   }
