.main {
height: auto;
width: auto;
text-align: center;
font-size: 50px;
border-radius: 5px;
background-color: white;
}

.top {
text-align: center;
width: auto;
height: 50px;
}

.left {
border: 1px solid #cccccc;
display: inline-block;
width: 15%;
margin-left: 5px;
height: 600px;
border-radius: 5px;
float: left;
}

.middle {
border: 1px solid #cccccc;
display: inline-block;
width: 65%;
height: 600px;
border-radius: 5px;
}

.right {
border: 1px solid #cccccc;
display: inline-block;
width: 15%;
height: 600px;
border-radius: 5px;
float: right;
margin-right: 5px;
}

.bottom {
border: 1px solid #cccccc;
display: inline-block;
width: 65%;
height: 150px;
border-radius: 5px;
margin-top: 20px;
margin-bottom: 10px;
background-color: black;
color: red;
}

table {
margin: auto;
width: 200px;
height: 200px;
}

td {
height: 60px;
width: 200px;
text-align: center;
font-size: 10px;
border: 2px solid #cccccc;
cursor: pointer;
}

h1 {
font-size: 50px;
}

.progress-bar { display: inline;
                border: 1px solid black;
                width: 80%

            }

.dice {
    text-align: center;
  	width:60px;
    height: 60px;
  	background:#F5F5F5;
  	border:#999 1px solid;
  	padding:10px;
  	font-size:30px;
    display: inline-block;;
    margin:5px;
}

#die1 #die2 {

  text-align: center;
  width:32px;
  height: 32px;
  background:#F5F5F5;
  border:#999 1px solid;

  font-size:15px;


}

.button-disabled {

  opacity: 0.65;
  cursor: not-allowed;
}

.pikachu {
-webkit-box-shadow:none;
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Pikachu.png");
background-size: contain;
background-repeat: no-repeat;
}

.raichu {
border: transparent;
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Raichu.jpg");
background-size: contain;
background-repeat: no-repeat;

}

.pokemon {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/question_mark.png");
background-size: contain;
background-repeat: no-repeat;
}

.pokeball {
background-image: url("/image/Pokeball.png");
background-size: contain;
background-repeat: no-repeat;
}

p {
font-size: 15px;
}

.bulbasaur {
background-image: url("/image/bulbasaur.png");
background-size: contain;
background-repeat: no-repeat;
}

.bulbasaurBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/bulbasaur1.png");
background-size: contain;
background-repeat: no-repeat;
}

.tepig {
background-image: url("/image/Tepig.png");
background-size: contain;
background-repeat: no-repeat;
}

.tepigBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Tepig1.png");
background-size: contain;
background-repeat: no-repeat;
}

.jigglypuff {
background-image: url("/image/jigglypuff.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.jigglypuffBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/jigglypuff1.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.victini {
background-image: url("/image/victini.png");
background-size: contain;
background-repeat: no-repeat;
}

.victiniBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/victini1.png");
background-size: contain;
background-repeat: no-repeat;

}

.caterpie {
background-image: url("/image/Caterpie.png");
background-size: contain;
background-repeat: no-repeat;
}

.caterpieBattle {
height: 100px;
width: 100px;
margin: auto;
background-image: url("/image/Caterpie1.png");
background-size: contain;
background-repeat: no-repeat;

}

.oshawott {
  background-image: url("/image/oshawott.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.oshawottBattle {
  height: 100px;
  width: 100px;
  margin: auto;
  background-image: url("/image/oshawott1.png");
  background-size: contain;
  background-repeat: no-repeat;

  }

  .gengar {
    background-image: url("/image/gengar.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .gengarBattle {
    height: 100px;
    width: 100px;
    margin: auto;
    background-image: url("/image/gengar1.png");
    background-size: contain;
    background-repeat: no-repeat;

    }

    .eevee {
      background-image: url("/image/eevee.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .eeveeBattle {
      height: 100px;
      width: 100px;
      margin: auto;
      background-image: url("/image/eevee1.png");
      background-size: contain;
      background-repeat: no-repeat;

      }

      .charmander {
     background-image: url("/image/Charmander.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .charmanderBattle {
     height: 100px;
     width: 100px;
     margin: auto;
     background-image: url("/image/Charmander1.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .squirtle {
     background-image: url("/image/Squirtle.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .squirtleBattle {
     height: 100px;
     width: 100px;
     margin: auto;
     background-image: url("/image/Squirtle1.png");
     background-size: contain;
     background-repeat: no-repeat;
   }

   .ash {
     background-image: url("/image/ash.gif");
     background-size: contain;
     background-repeat: no-repeat;

   }

   .potion {
     background-image: url("/image/Potion.png");
     background-size: contain;
     background-repeat: no-repeat;

   }
